@font-face {
    font-family: 'Perfectly Amicable';
    src: url('../font/Perfectly-Amicable.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../font/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto Black';
    src: url('../font/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Montserrat Normal';                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ';
    src: url('../font/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat Black';
    src: url('../font/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../font/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('../font/Montserrat-Thin.ttf');
}

nav {
    padding: 0;
    background: #000;
    height: fit-content;
    width: 100%;
    margin: 0;
    text-align: justify;
    color: #fff;
    font-size: xx-large;
}

body{ 
    margin: 0;
    padding: 0;
    background: #F7F7F7;
    text-align: -webkit-center;
    font-family: 'Roboto Regular';
}

div.card{
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
    padding: 1.5rem;
    transition: 0.2s;
    background: white;
    max-width: 65rem;
    margin: 2rem;
    text-align: left;
    width: fit-content;
    border-radius: 0.1rem;
}

h2 {
    font-size: xx-large;  
    font-family: 'Roboto Regular';
    margin: 1rem 0 2rem 0;
    text-align: center;
}

h1 {
    font-size: xxx-large;  
    font-family: 'Roboto Regular';
    color: white;
}

input{
    background: #E8E8E8;
    border-color: #E8E8E8;
    border-style: solid;
    outline: none;
    max-width: 30rem;
    width: -webkit-fill-available;
    padding: 0.7rem;
    font-family: 'Montserrat Black';
    font-size: 15px;
}

input.error{
    background: #FDF0EF;
    border-color: #F4AFA7;
}

input.error[type="checkbox"]{
    background: #FDF0EF;
    border-color: #F4AFA7;
}

input:focus {
    border-color: #276EF1;
    border-style: solid;
    transition: 0.4s;
}

button{
    border: none;
    outline: none;
    background:linear-gradient(99deg, #fc8b1c, #FC0E2A);
    padding: 0.8rem 1.8em;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat Black';
    font-size: 15px;
    border-radius: 1rem;
}

button.round{
    border: linear-gradient(99deg, #fc8b1c, #FC0E2A);;
    outline: none;
    background: white;
    color: linear-gradient(99deg, #fc8b1c, #FC0E2A);;
    padding: 0.8rem 1.8em;
    cursor: pointer;
    font-size: 15px;
    border-radius: 1rem;
}

select{
    background: #E8E8E8;
    border-color: #E8E8E8;
    border-style: solid;
    outline: none;
    max-width: 30rem;
    width: max-content;
    padding: 0.7rem;
    font-size: 15px;
}


@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type=checkbox],
    input[type=radio] {
        --active: linear-gradient(45deg, #fc8b1c, #FC0E2A);
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: #BBC1E1;
        --border-hover: #FC0E2A;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
        input[type=checkbox]:after,
        input[type=radio]:after {
            content: "";
            display: block;
            left: 0;
            box-sizing: inherit;
            top: 0;
            margin-top: 0.1rem;
            position: absolute;
            transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
        }

        input[type=checkbox]:checked,
        input[type=radio]:checked {
            --b: var(--active);
            --bc: var(--active);
            --d-o: .3s;
            --d-t: .6s;
            --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
        }

        input[type=checkbox]:disabled,
        input[type=radio]:disabled {
            --b: var(--disabled);
            cursor: not-allowed;
            opacity: 0.9;
        }

            input[type=checkbox]:disabled:checked,
            input[type=radio]:disabled:checked {
                --b: var(--disabled-inner);
                --bc: var(--border);
            }

            input[type=checkbox]:disabled + label,
            input[type=radio]:disabled + label {
                cursor: not-allowed;
            }

        input[type=checkbox]:hover:not(:checked):not(:disabled),
        input[type=radio]:hover:not(:checked):not(:disabled) {
            --bc: var(--border-hover);
        }

        input[type=checkbox]:focus,
        input[type=radio]:focus {
            box-shadow: 0 0 0 var(--focus);
        }

        input[type=checkbox]:not(.switch),
        input[type=radio]:not(.switch) {
            width: 21px;
        }

            input[type=checkbox]:not(.switch):after,
            input[type=radio]:not(.switch):after {
                opacity: var(--o, 0);
            }

            input[type=checkbox]:not(.switch):checked,
            input[type=radio]:not(.switch):checked {
                --o: 1;
            }

        input[type=checkbox] + label,
        input[type=radio] + label {
            font-size: 14px;
            line-height: 21px;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            margin-left: 4px;
        }

        input[type=checkbox]:not(.switch) {
            border-radius: 7px;
        }

            input[type=checkbox]:not(.switch):after {
                width: 5px;
                height: 9px;
                border: 2px solid var(--active-inner);
                border-top: 0;
                border-left: 0;
                left: 9px;
                top: 4px;
                transform: rotate(var(--r, 20deg));
            }

            input[type=checkbox]:not(.switch):checked {
                --r: 43deg;
            }
            
        input[type=checkbox].switch {
            width: 38px;
            border-radius: 11px;
        }

            input[type=checkbox].switch:after {
                left: 2px;
                top: 2px;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                background: var(--ab, var(--border));
                transform: translateX(var(--x, 0));
            }

            input[type=checkbox].switch:checked {
                --ab: var(--active-inner);
                --x: 17px;
            }

            input[type=checkbox].switch:disabled:not(:checked):after {
                opacity: 0.6;
            }

    input[type=radio] {
        border-radius: 50%;
    }

        input[type=radio]:after {
            width: 19px;
            height: 19px;
            border-radius: 50%;
            background: var(--active-inner);
            opacity: 0;
            transform: scale(var(--s, 0.7));
        }

        input[type=radio]:checked {
            --s: .5;
        }
}

ul {
    margin: 12px;
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: 320px;
}

    ul li {
        margin: 16px 0;
        position: relative;
    }

div.inline { 
    display: inline-flex;
    width: 100%;
    padding: 0;
    margin: 2rem 0;
}

div.center{
    text-align: -webkit-center;
    width: 100%;
    display:grid;
}

div.inline-center {
    text-align: -webkit-center;
    width: 100%;
    display: inline;
}

div.inline-half{
    max-width: 50%;
    display: inline;
    width: 50%;
    padding: 1.5rem;
    text-align: left;
}

.error{
    color: #CC2936;
    display: block;
    transition: 0.2s;
}

.link{
   color: #276EF1;
   cursor: pointer;
}

footer{
    background: #000;
    width: 100%;
    height: fit-content;
    color: white;
    padding: 2rem 0;
}

p.for-business-text{
    margin: 0;
    padding: 1rem 10%;
    font-size: xxx-large;
    font-family: 'Perfectly Amicable';
}

hr{
    margin: 1rem 20%;
    border-color: #E8E8E8;
}

a{ margin: 1rem 3rem;}

div.bottom-buttons{
    margin: 0rem 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: 0.2s;
}

.vertical-center {
    margin-top: auto;
    margin-top: 20%
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  
  img.show-password{
    width: 5%;
    margin-top: -7%;
    z-index: 1;
    position: relative;
    margin-right: 2%;
    cursor: pointer;
    transition: 0.2s;
    content: url('../img/eye.svg');
    height: auto; /*or your image's height*/
}

img.show-password:active{
    transition: 0.4s;
}
