img.clickable{
    width: 80%;
margin: 5% 0;
}

img.clickable:hover {
width: 90%;
cursor: pointer;
margin: 0 0;
}
img.clickable{
    width: 80%;
margin: 5% 0;
}

img.clickable:hover {
width: 90%;
cursor: pointer;
margin: 0 0;
}